@page
@model QuocThinh.Pages.QLDonHang.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonHang.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonHang.Ten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonHang.NgayDat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonHang.NgayDat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonHang.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonHang.DiaChi)
        </dd>
        <dt class="col-sm-2">
            Tong
        </dt>
        <dd class="col-sm-10">
            @Model.TongGia
        </dd>
    </dl>

    <h4>Chi tiết đơn hàng</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (chitiet, sanpham) in Model.listchitietdonhang.Zip(Model.ListSanPham, (ct, sp) => (ct, sp)))
            {
                <tr>
                    <td>@sanpham.Ten</td>
                    <td>@chitiet.SoLuong</td>
                    <td>@chitiet.Gia</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>